{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>

<a href="{%  url 'my_index' %}">home</a>
<a href="{%  url 'my_about' %}">about us</a>
<a href="{% url 'my_blog' %}">blogs</a>
<a href="{% url  'my_services'%}">services</a>
<a href="{%  url 'my_contact' %}">contact</a>
<a href="{%  url 'extra' %}">extra</a>

<h2>THIS IS THE ABOUT US PAGE</h2>

<img src="{% static 'images/city.webp' %}" alt="artistic">


</body>
</html>